{{ block title }}Project Rating{{ endblock }}

{{ block content }}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 0;
        }
        td {
            width: calc(100% / 8);
            border: 0;
            text-align: center;
        }
    </style>

    <table border="1">
        <tr>
            {{ for criteria in session.projectA_criteria}}
                {{if criteria.name in participant.ProjectA_list}}
                    <td><label> {{ criteria.label }} </label></td>
                {{endif}}
            {{ endfor }}
        </tr>
        <tr>
            {{ for field in session.projectA_criteria}}
                {{if field.name in participant.ProjectA_list}}
                    <td><input type="checkbox" name="{{ field.name }}" value="1"> </td>
                {{endif}}
            {{ endfor }}
        </tr>
    </table>


    <br><br>

    <table border="1">
        <tr>
            {{ for criteria in participant.ProjectB_list }}
            <td><label> {{ criteria }} </label></td>
            {{ endfor }}
        </tr>
        <tr>
            {{ for field in participant.ProjectB_list }}
                <td><input type="checkbox" name="{{ field }}" value="1"> </td>
            {{ endfor }}
        </tr>
    </table>

    {{ next_button }}

{{ endblock }}
